.container{
    display:flex;
    height:600px;
    width:1200px;
    background-color: aqua;
    border:2px solid black;
    flex-wrap:wrap;
    
    align-content: space-around;
    gap: 20px;
    row-gap: 10px;
    column-gap:20px ;
    flex-shrink: initial;
}
.item{
    height: 200px;
    width:250px;
    background-color: white;
    border:1px solid black;
}
.item3{

    align-self: flex-end;
}