h1{
    padding-left : 10px;
}
#box1{
    display: inline-block;
    background-color: yellowgreen;
    height:350px;
    text-align: center;
    width: 200px;
    padding-top: 100px;
    margin: 30px;
    padding-left: 30px;
    padding-right: 30px;



}
#box2{
    display: inline-block;
    background-color: purple;
    height: 350px;
    width: 200px;
    text-align: center;
    padding-top: 100px;
    margin:50px;
    padding-left: 30px;
    padding-left: 30px;
     
}
#box3{
    display:inline-block;
    background-color: aquamarine;
    height: 350px;
    width: 200px;
    text-align: center;
    padding-top: 100px;
    margin:50px;
    padding-left: 30px;
    padding-right: 30px;
}
#container{
    display:inline-block;
    border: 2px solid black;
    margin: 50px;

}